@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.9761 0.0041 264.5);
  --foreground: oklch(0.2417 0.0298 269.9);
  --card: oklch(0.988 0.003 264.5);
  --card-foreground: oklch(0.2417 0.0298 269.9);
  --popover: oklch(0.956 0.012 264.5);
  --popover-foreground: oklch(0.2417 0.0298 269.9);
  --primary: oklch(0.6333 0.2309 264.5);
  --primary-foreground: oklch(0.988 0.003 264.5);
  --secondary: oklch(0.3596 0.0291 264.5);
  --secondary-foreground: oklch(0.988 0.003 264.5);
  --muted: oklch(0.7251 0.0071 264.5);
  --muted-foreground: oklch(0.2417 0.0298 269.9);
  --accent: oklch(0.8242 0.0221 264.5);
  --accent-foreground: oklch(0.2417 0.0298 269.9);
  --destructive: oklch(0.5624 0.1743 26.1);
  --destructive-foreground: oklch(0.988 0.003 264.5);
  --border: oklch(0.8251 0.0071 264.5);
  --input: oklch(0.8251 0.0071 264.5);
  --ring: oklch(0.6333 0.2309 264.5);
  --chart-1: oklch(0.6333 0.2309 264.5);
  --chart-2: oklch(0.7209 0.0489 264.5);
  --chart-3: oklch(0.6744 0.0427 264.5);
  --chart-4: oklch(0.551 0.0234 264.5);
  --chart-5: oklch(0.9251 0.0071 264.5);
  --sidebar: oklch(0.9845 0.0026 264.5);
  --sidebar-foreground: oklch(0.2417 0.0298 269.9);
  --sidebar-primary: oklch(0.6333 0.2309 264.5);
  --sidebar-primary-foreground: oklch(0.988 0.003 264.5);
  --sidebar-accent: oklch(0.8251 0.0071 264.5);
  --sidebar-accent-foreground: oklch(0.988 0.003 264.5);
  --sidebar-border: oklch(0.8251 0.0071 264.5);
  --sidebar-ring: oklch(0.6333 0.2309 264.5);
  --font-sans: var(--font-inter);
  --font-serif: Signifier, Georgia, serif;
  --font-mono: JetBrains Mono, Courier New, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.04;
  --shadow-color: #1a1f2e;
  --shadow-2xs: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.02);
  --shadow-xs: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.02);
  --shadow-sm:
    0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04), 0px 1px 2px -1px
    hsl(225 27.7778% 14.1176% / 0.04);
  --shadow:
    0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04), 0px 1px 2px -1px
    hsl(225 27.7778% 14.1176% / 0.04);
  --shadow-md:
    0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04), 0px 2px 4px -1px
    hsl(225 27.7778% 14.1176% / 0.04);
  --shadow-lg:
    0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04), 0px 4px 6px -1px
    hsl(225 27.7778% 14.1176% / 0.04);
  --shadow-xl:
    0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04), 0px 8px 10px -1px
    hsl(225 27.7778% 14.1176% / 0.04);
  --shadow-2xl: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.1);
  --tracking-normal: 0em;
  --spacing: 0.23rem;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
}

.dark {
  --background: oklch(0.1448 0 264.5);
  --foreground: oklch(0.988 0.003 264.5);
  --card: oklch(0.1822 0.003 264.5);
  --card-foreground: oklch(0.988 0.003 264.5);
  --popover: oklch(0.1822 0.003 264.5);
  --popover-foreground: oklch(0.988 0.003 264.5);
  --primary: oklch(0.6333 0.2309 264.5);
  --primary-foreground: oklch(0.2417 0.0298 269.9);
  --secondary: oklch(0.8251 0.0071 264.5);
  --secondary-foreground: oklch(0.988 0.003 264.5);
  --muted: oklch(0.551 0.0234 264.5);
  --muted-foreground: oklch(0.988 0.003 264.5);
  --accent: oklch(0.1822 0.003 264.5);
  --accent-foreground: oklch(0.551 0.0234 264.5);
  --destructive: oklch(0.5624 0.1743 26.1);
  --destructive-foreground: oklch(0.988 0.003 264.5);
  --border: oklch(0.551 0.0234 264.5);
  --input: oklch(0.1822 0.003 264.5);
  --ring: oklch(0.6333 0.2309 264.5);
  --chart-1: oklch(0.6333 0.2309 264.5);
  --chart-2: oklch(0.7209 0.0489 264.5);
  --chart-3: oklch(0.6744 0.0427 264.5);
  --chart-4: oklch(0.551 0.0234 264.5);
  --chart-5: oklch(0.9251 0.0071 264.5);
  --sidebar: oklch(0.1822 0.003 264.5);
  --sidebar-foreground: oklch(0.988 0.003 264.5);
  --sidebar-primary: oklch(0.6333 0.2309 264.5);
  --sidebar-primary-foreground: oklch(0.988 0.003 264.5);
  --sidebar-accent: oklch(0.551 0.0234 264.5);
  --sidebar-accent-foreground: oklch(0.988 0.003 264.5);
  --sidebar-border: oklch(0.551 0.0234 264.5);
  --sidebar-ring: oklch(0.6333 0.2309 264.5);
  --font-sans: var(--font-inter);
  --font-serif: Signifier, Georgia, serif;
  --font-mono: JetBrains Mono, Courier New, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.04;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.02);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.02);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.04), 0px 1px 2px -1px hsl(0 0% 0% / 0.04);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.04), 0px 1px 2px -1px hsl(0 0% 0% / 0.04);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.04), 0px 2px 4px -1px hsl(0 0% 0% / 0.04);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.04), 0px 4px 6px -1px hsl(0 0% 0% / 0.04);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.04), 0px 8px 10px -1px hsl(0 0% 0% / 0.04);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.1);
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.23rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-inter);
  --font-mono: JetBrains Mono, Courier New, monospace;
  --font-serif: Signifier, Georgia, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.35rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
    letter-spacing: var(--tracking-normal);
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl;
  }

  p {
    @apply text-base;
  }

  a {
    @apply text-primary;
  }

  button {
    @apply cursor-pointer;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

.hover-underline-animation.right::after {
  transform-origin: bottom left;
}

.hover-underline-animation.right:hover::after {
  transform-origin: bottom right;
}

@media (max-width: 768px) {
  .mobile-header {
    transition: transform 0.3s ease;
  }

  .mobile-content {
    transition: padding-top 0.3s ease;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

.sidebar-custom {
  --sidebar-width-icon: 4rem;
}

.sidebar-custom[data-state="collapsed"] {
  width: var(--sidebar-width-icon, 4rem);
}
