@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f1f5f9;
  --foreground: #0f1729;
  --card: #f8fafc;
  --card-foreground: #0f1729;
  --popover: #e1e7ef;
  --popover-foreground: #0f1729;
  --primary: #0284c5;
  --primary-foreground: #f0f9ff;
  --secondary: #324052;
  --secondary-foreground: #f8fafc;
  --muted: #94a3b8;
  --muted-foreground: #0f1729;
  --accent: #f8fafc;
  --accent-foreground: #465467;
  --destructive: #db2424;
  --destructive-foreground: #fef1f1;
  --border: #c8d3df;
  --input: #c8d3df;
  --ring: #0284c5;

  --chart-1: #35bdf8;
  --chart-2: #5da3f9;
  --chart-3: #94a3b8;
  --chart-4: #637288;
  --chart-5: #465467;

  --sidebar: #f8fafc;
  --sidebar-foreground: #0f1729;
  --sidebar-primary: #0284c5;
  --sidebar-primary-foreground: #f0f9ff;
  --sidebar-accent: #324052;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-border: #c8d3df;
  --sidebar-ring: #0284c5;

  --font-sans:
    "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-serif:
    "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --radius: 0.5rem;

  /* Shadows (8-digit HEX: #RRGGBBAA) */
  --shadow-2xs: 0 1px 3px 0px #0000000d; /* alpha 0.05 */
  --shadow-xs: 0 1px 3px 0px #0000000d; /* alpha 0.05 */
  --shadow-sm:
    0 1px 3px 0px #0000001a, 0 1px 2px -1px #0000001a; /* alpha 0.1 */
  --shadow: 0 1px 3px 0px #0000001a, 0 1px 2px -1px #0000001a; /* alpha 0.1 */
  --shadow-md:
    0 1px 3px 0px #0000001a, 0 2px 4px -1px #0000001a; /* alpha 0.1 */
  --shadow-lg:
    0 1px 3px 0px #0000001a, 0 4px 6px -1px #0000001a; /* alpha 0.1 */
  --shadow-xl:
    0 1px 3px 0px #0000001a, 0 8px 10px -1px #0000001a; /* alpha 0.1 */
  --shadow-2xl: 0 1px 3px 0px #00000040; /* alpha 0.25 */

  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #0f1729;
  --foreground: #f8fafc;
  --card: #1d2839;
  --card-foreground: #f8fafc;
  --popover: #324052;
  --popover-foreground: #f8fafc;
  --primary: #35bdf8;
  --primary-foreground: #082c45; /* from HSL(204, 80%, 15%) */
  --secondary: #c8d3df;
  --secondary-foreground: #020513;
  --muted: #637288;
  --muted-foreground: #f8fafc;
  --accent: #020513;
  --accent-foreground: #94a3b8;
  --destructive: #ef4343;
  --destructive-foreground: #fef1f1;
  --border: #465467;
  --input: #465467;
  --ring: #35bdf8;
  --chart-1: #79d2fc;
  --chart-2: #91c5fd;
  --chart-3: #94a3b8;
  --chart-4: #637288;
  --chart-5: #465467;
  --sidebar: #1d2839;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #35bdf8;
  --sidebar-primary-foreground: #082c45;
  --sidebar-accent: #94a3b8;
  --sidebar-accent-foreground: #020513;
  --sidebar-border: #465467;
  --sidebar-ring: #35bdf8;

  /* Shadows (8-digit HEX: #RRGGBBAA) */
  --shadow-2xs: 0 1px 3px 0px #0000000d; /* alpha 0.05 */
  --shadow-xs: 0 1px 3px 0px #0000000d; /* alpha 0.05 */
  --shadow-sm:
    0 1px 3px 0px #0000001a, 0 1px 2px -1px #0000001a; /* alpha 0.1 */
  --shadow: 0 1px 3px 0px #0000001a, 0 1px 2px -1px #0000001a; /* alpha 0.1 */
  --shadow-md:
    0 1px 3px 0px #0000001a, 0 2px 4px -1px #0000001a; /* alpha 0.1 */
  --shadow-lg:
    0 1px 3px 0px #0000001a, 0 4px 6px -1px #0000001a; /* alpha 0.1 */
  --shadow-xl:
    0 1px 3px 0px #0000001a, 0 8px 10px -1px #0000001a; /* alpha 0.1 */
  --shadow-2xl: 0 1px 3px 0px #00000040; /* alpha 0.25 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-inter);
  --font-mono: JetBrains Mono, Courier New, monospace;
  --font-serif: Signifier, Georgia, serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.35rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
    letter-spacing: var(--tracking-normal);
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl;
  }

  p {
    @apply text-base;
  }

  a {
    @apply text-primary;
  }

  button {
    @apply cursor-pointer;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

.hover-underline-animation.right::after {
  transform-origin: bottom left;
}

.hover-underline-animation.right:hover::after {
  transform-origin: bottom right;
}

@media (max-width: 768px) {
  .mobile-header {
    transition: transform 0.3s ease;
  }

  .mobile-content {
    transition: padding-top 0.3s ease;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

.sidebar-custom {
  --sidebar-width-icon: 4rem;
}

.sidebar-custom[data-state="collapsed"] {
  width: var(--sidebar-width-icon, 4rem);
}
